fastapi
uvicorn
python-dotenv
PyJWT
redis
pinecone
multipart

# LangChain ecosystem
langchain
langchain-core
langchain-community
langchain-google-genai
langchain_openai
langchain_pinecone
langchain_text_splitters

# Vector DB (choose one)
qdrant-client
# pinecone-client

# Utilities
pydantic
